body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 750px;
  margin-top: 40px;
}
.intro-card {
  background: white;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.10);
  margin-bottom: 35px;
}

.intro-card h2 {
  margin: 0 0 10px 0;
  color: #222;
}

.intro-card p {
  font-size: 18px;
  color: #444;
  line-height: 1.4;
}


h1 {
  color: #222;
  font-size: 34px;
  margin-bottom: 10px;
}

.subtitle {
  color: #555;
  font-size: 20px;
  margin-bottom: 30px;
}

.gif {
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0,0,0,0.08);
  margin-bottom: 25px;
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  gap: 10px;
}

.step {
  font-size: 16px;
  color: #333;
  background: white;
  padding: 8px 14px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.12);
}

.line {
  width: 30px;
  height: 3px;
  background: #444;
  border-radius: 2px;
}

.embed-wrapper {
  margin-top: 30px;
  width: 100%;
  height: 92vh;   /* neredeyse tamamen ekran */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.embed-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.small {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.footer-note {
  font-size: 14px;
  margin-top: 20px;
  color: #555;
  margin-bottom: 50px;
}

/* Fade-in */
.fade-in {
  animation: fadeIn 1.2s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}
